<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Welcome {{ username }}</h1>

    <!-- Button to add a book -->
    <div class="moleskine-wrapper">
        <a href="/add" class="moleskine-notebook blue">
            <div class="notebook-cover"></div>
            <div class="notebook-page"></div>
            <div class="notebook-skin">Add Book</div>
        </a>
    </div>

    <!-- Button to delete a book -->
    <div class="moleskine-wrapper">
        <a href="/delete" class="moleskine-notebook red">
            <div class="notebook-cover"></div>
            <div class="notebook-page"></div>
            <div class="notebook-skin">Delete Book</div>
        </a>
    </div>

    <!-- Button to edit a book -->
    <div class="moleskine-wrapper">
        <a href="/edit" class="moleskine-notebook yellow">
            <div class="notebook-cover"></div>
            <div class="notebook-page"></div>
            <div class="notebook-skin">Edit Book</div>
        </a>
    </div>

    <!-- Button to show books -->
    <div class="moleskine-wrapper">
        <a href="/show_books" class="moleskine-notebook green">
            <div class="notebook-cover"></div>
            <div class="notebook-page"></div>
            <div class="notebook-skin">Show Books</div>
        </a>
    </div>
</body>
</html>
