<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Books</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="title">Delete Books</h1>
    <div class="login-container">
        {% if books %}
            <form action="/delete" method="POST">
                {% for book in books %}
                    <input type="checkbox" name="selected_books" value="{{ book.title }}">{{ book.title }} by {{ book.author }} ({{ book.year }})<br>
                {% endfor %}
                <button type="submit">Delete Selected Books</button>
            </form>
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
    </div>    
</body>
</html>
