<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Books</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="other-container"> <!-- Wrap book items inside this container -->
        <h1 class="title">Your Books</h1>
        {% if books %}
            {% for book in books %}
                <div class="book-container">
                    <p>Title: {{ book.title }}</p>
                    <p>Author: {{ book.author }}</p>
                    <p>Year: {{ book.year }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No books found.</p>
        {% endif %}
        <!-- Add button to navigate back to dashboard -->
        <a href="/dashboard" class="btn btn-primary">Back to Dashboard</a>
    </div>
</body>
</html>
